extends layout

block layout-content
	a(href="/")
		div.NavButton back
	div.View
		h1.Banner Groups
		div.NavButtons
			a(href="/newgroup")
				div.NavButton New Group
			a(href="/viewgroups")
				div.NavButton View Groups
		