extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Securing Social Media
    div.NavButtons
      a(href="/groups")
        div.NavButton Groups
      a(href="/wall")
        div.NavButton Wall
      a(href="/compose")
        div.NavButton Compose
